body {
    max-width: 1170px;
    margin: auto;
}

#grid-container1 {
    display: grid;
    grid-template-areas:
        "logo logo logo logo logo logo logo logo logo"
        "logo logo logo logo logo logo logo logo logo"
        ". . . . profile-pic . . . ."
        ". . . aboutme aboutme aboutme . . ."
        ". . . tooltip1 tooltip2 tooltip3 . . ."
        ". . . tooltip4 tooltip5 tooltip6 . . ."
        ". save-btn save-btn save-btn save-btn save-btn save-btn save-btn .";
    background-color: #111111;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
}

.logo {
    height: 200px;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.logo1 {
    grid-area: logo;
    height: 200px;
    width: 100%;
    background: rgb(15, 15, 15);
    background: radial-gradient(circle, rgba(15, 15, 15, 1) 0%, rgba(102, 102, 102, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    grid-area: profile-pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: -25px;
    border-radius: 50%;
    height: 130px;

}

#about-me {
    grid-area: aboutme;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 30px;
    line-height: 0;
}

#about-me h4 {
    color: white;
    padding: 0;
    font-size: 30px;
}

/**************************buttons******************/
.custom-button {
    width: 170px;
    height: 60px;
    color: #fff;
    background: #000;
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 #585858;
    transition: 0.5s;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-button:hover {
    box-shadow: 8px 10px 0 #000;
    background: rgb(204, 204, 204);
    border: 2px solid #000;
    color: #000;
    margin-top: 5px;
}

.custom-button span {
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: 0.4s;
}

.custom-button:hover span {
    width: 30px;
}

.custom-button i {
    padding-left: 10px;
    font-size: 20px;
}


.btn1:hover {
    background-color: #25D366;
}

.btn3:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn4:hover {
    background-color: #1877f2;
}

.btn5:hover {
    background-color: #ea4335;
}

.btn6:hover {
    background-color: #05c8f7;
}

.tooltip-container1 {
    grid-area: tooltip1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container2 {
    grid-area: tooltip2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container3 {
    grid-area: tooltip3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container4 {
    grid-area: tooltip4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container5 {
    grid-area: tooltip5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container6 {
    grid-area: tooltip6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-contact {
    /* background-color: aqua; */
    grid-area: save-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 30px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
  .button:hover::before {
    scale: 10;
}
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}
  
  .button:active {
    scale: 1;
}
a{
    color: white;
    text-decoration: none;
    
}

a:visited{
    color: white;
}




@media (max-width: 800px) and (min-width: 370px) {
    .profile {
        height: 100x;
        margin-top: -40px;
    }

    .logo {
        height: 180px;
    }
    .custom-button {
        width: 108px;
        height: 55px;
        font-size: 10px;
        padding: 0px;
    }
    #about-me h1 {
        color: white;
        font-size: 30px;
        letter-spacing: 20px;
        line-height: 0;
    }
    
    #about-me h4 {
        color: white;
        padding: 0;
        font-size: 15px;
    }
    .custom-button i {
        padding-left: 5px;
        font-size: 10px;
    }
    .button{
        font-size: 20px;
    }
}

@media (max-width:370px) {
    #grid-container1 {
        display: grid;
        grid-template-areas:
            "logo logo logo logo logo logo logo logo logo logo"
            "logo logo logo logo logo logo logo logo logo logo"
            ". . . . profile-pic profile-pic . . . ."
            ". . . . aboutme aboutme . . . ."
            ". . . . tooltip1 tooltip2 . . . ."
            ". . . . tooltip4 tooltip5 . . . ."
            ". . . . tooltip3 tooltip6 . . . ."
            ". . save-btn save-btn save-btn save-btn save-btn save-btn . .";

    }
    .profile {
        height: 100x;
        margin-top: -40px;
    }

    .logo {
        height: 180px;
    }
    .custom-button {
        width: 108px;
        height: 55px;
        font-size: 10px;
        padding: 0px;
    }
    #about-me h1 {
        color: white;
        font-size: 30px;
        letter-spacing: 10px;
        line-height: 0;
    }
    
    #about-me h4 {
        color: white;
        padding: 0;
        font-size: 15px;
    }
    .custom-button i {
        padding-left: 5px;
        font-size: 10px;
    }
    .button{
        font-size: 20px;
    }
}