body {
    max-width: 1170px;
    margin: auto;
}

#grid-container1 {
    display: grid;
    grid-template-areas:
        "logo logo logo logo logo logo logo logo logo"
        "logo logo logo logo logo logo logo logo logo"
        ". . . . profile-pic . . . ."
        ". . . aboutme aboutme aboutme . . ."
        ". . . tooltip1 tooltip2 tooltip3 . . ."
        ". . . tooltip4 tooltip5 tooltip6 . . ."
        ". save-btn save-btn save-btn save-btn save-btn save-btn save-btn .";
    background-color: #111111;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
}

.logo {
    height: 200px;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.logo1 {
    grid-area: logo;
    height: 200px;
    width: 100%;
    background: rgb(15, 15, 15);
    background: radial-gradient(circle, rgba(15, 15, 15, 1) 0%, rgba(102, 102, 102, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    grid-area: profile-pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: -25px;
    border-radius: 50%;
    height: 130px;

}

#about-me {
    grid-area: aboutme;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 30px;
    line-height: 0;
}

#about-me h4 {
    color: white;
    padding: 0;
    font-size: 30px;
}

/**************************buttons******************/
.custom-button {
    width: 170px;
    height: 60px;
    color: #fff;
    background: #000;
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 #585858;
    transition: 0.5s;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-button:hover {
    box-shadow: 8px 10px 0 #000;
    background: rgb(204, 204, 204);
    border: 2px solid #000;
    color: #000;
    margin-top: 5px;
}

.custom-button span {
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: 0.4s;
}

.custom-button:hover span {
    width: 30px;
}

.custom-button i {
    padding-left: 10px;
    font-size: 20px;
}


.btn1:hover {
    background-color: #25D366;
}

.btn3:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn4:hover {
    background-color: #1877f2;
}

.btn5:hover {
    background-color: #ea4335;
}

.btn6:hover {
    background-color: #05c8f7;
}

.tooltip-container1 {
    grid-area: tooltip1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container2 {
    grid-area: tooltip2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container3 {
    grid-area: tooltip3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container4 {
    grid-area: tooltip4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container5 {
    grid-area: tooltip5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container6 {
    grid-area: tooltip6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-contact {
    /* background-color: aqua; */
    grid-area: save-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.addbtn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}

.addbtn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.addbtn::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.addbtn:hover::before {
    transform: translateY(-25px);
    height: 0;
}

.addbtn:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}

.addbtn:hover {
    border: 2px solid #fefefe;
}

.addbtn span {
    position: relative;
    z-index: 3;
}

.addcontact {
    margin-top: 15px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
a{
    color: white;
    text-decoration: none;
    
}

a:visited{
    color: white;
}




@media (max-width:800px) {
    .profile {
        height: 100x;
        margin-top: -60px;
    }

    .logo {
        height: 180px;
    }
    .custom-button {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }
    #about-me h1 {
        color: white;
        font-size: 30px;
        letter-spacing: 20px;
        line-height: 0;
    }
    
    #about-me h4 {
        color: white;
        padding: 0;
        font-size: 15px;
    }
    .custom-button i {
        padding-left: 5px;
        font-size: 10px;
    }
}