body {
    max-width: 1170px;
    margin: auto;
}

#grid-container1 {
    display: grid;
    grid-template-areas:
        "logo logo logo logo logo logo logo logo logo"
        "logo logo logo logo logo logo logo logo logo"
        ". . . . profile-pic . . . ."
        ". . . aboutme aboutme aboutme . . ."
        ". . . tooltip1 tooltip2 tooltip3 . . ."
        ". . . tooltip4 tooltip5 tooltip6 . . ."
        ". save-btn save-btn save-btn save-btn save-btn save-btn save-btn .";
    background-color: #111111;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
}

.logo {
    height: 200px;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.logo1 {
    grid-area: logo;
    height: 200px;
    width: 100%;
    background: rgb(15, 15, 15);
    background: radial-gradient(circle, rgba(15, 15, 15, 1) 0%, rgba(102, 102, 102, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    grid-area: profile-pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: -25px;
    border-radius: 50%;
    height: 130px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 1s;
    animation-fill-mode: both;

}

@keyframes example {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

#about-me {
    grid-area: aboutme;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 30px;
    line-height: 0;
}

#about-me h4 {
    color: white;
    padding: 0;
    font-size: 30px;
}

/**************************buttons******************/
.custom-button {
    width: 170px;
    height: 60px;
    color: #fff;
    background: #000;
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 #585858;
    transition: 0.5s;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-button:hover {
    box-shadow: 8px 10px 0 #000;
    background: rgb(204, 204, 204);
    border: 2px solid #000;
    color: #000;
    margin-top: 5px;
}

.custom-button span {
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: 0.4s;
}

.custom-button:hover span {
    width: 30px;
}

.custom-button i {
    padding-left: 10px;
    font-size: 20px;
}


.btn1:hover {
    background-color: #25D366;
}

.btn3:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn4:hover {
    background-color: #1877f2;
}

.btn5:hover {
    background-color: #ea4335;
}

.btn6:hover {
    background-color: #05c8f7;
}

.tooltip-container1 {
    grid-area: tooltip1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container2 {
    grid-area: tooltip2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container3 {
    grid-area: tooltip3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip-container4 {
    grid-area: tooltip4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container5 {
    grid-area: tooltip5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container6 {
    grid-area: tooltip6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-contact {
    /* background-color: aqua; */
    grid-area: save-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 30px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 10;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}

a {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
}




@media (max-width: 800px) and (min-width: 370px) {
    .profile {
        height: 100x;
        margin-top: -40px;
    }

    .logo {
        height: 180px;
    }

    .custom-button {
        width: 108px;
        height: 55px;
        font-size: 10px;
        padding: 0px;
    }

    #about-me h1 {
        color: white;
        font-size: 30px;
        letter-spacing: 20px;
        line-height: 0;
    }

    #about-me h4 {
        color: white;
        padding: 0;
        font-size: 15px;
    }

    .custom-button i {
        padding-left: 5px;
        font-size: 10px;
    }

    .button {
        font-size: 20px;
    }
}

/************************** about us ****************************/
#aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px 0;
}

.aboutus-img {
    height: 80vh;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    margin-left: 5%;

}

.aboutus-text {
    text-align: center;
}

.aboutus-text p {
    width: 70%;
    text-align: center;
    margin: auto;
}

.aboutus-text h1 {
    font-size: 40px;
    letter-spacing: 8px;
}

/*************************corasel***********************************/
#courasel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #111111;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
}

/********************proudcts header********************/
.outer-headings {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 35px;
    color: white;
    letter-spacing: 15px;
}

.products-h1 {
    font-size: 10px;
    ;
}

.inner-headings {
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    /* letter-spacing: 8px; */

}

.inner-headings span {
    position: relative;
    color: rgb(193, 163, 98);
    animation: ani 10s ease infinite;
    text-align: right;
    font-size: 40px;
    letter-spacing: 3px;
}

@keyframes ani {

    0%,
    100% {
        top: 0;
    }

    20% {
        top: -50px;
    }

    25% {
        top: -50px;
    }

    40% {
        top: -120px;
    }

    45% {
        top: -120px;
    }

    60% {
        top: -170px;
    }

    65% {
        top: -170px;
    }

    80% {
        top: -220px;
    }

    85% {
        top: -220px;
    }
}

.container {
    max-width: 1200px;
    width: 95%;
}

.slider-container {
    position: relative;
}

.slider-container .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-container .slide-button:hover {
    background: #404040;
}

.slider-container .slide-button#previous-slide {
    left: -25px;
    display: none;
}

.slider-container .slide-button#next-slide {
    right: -25px;
}

.slider-container .image-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-container .image-grid::-webkit-scrollbar {
    display: none;
}

.slider-container .image-grid .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: rgb(193, 163, 98);
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-container .slide-button {
        display: none !important;
    }

    .slider-container .image-grid {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-container .image-grid .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}


@media (max-width:382px) {
    #grid-container1 {
        display: grid;
        grid-template-areas:
            "logo logo logo logo logo logo logo logo logo logo"
            "logo logo logo logo logo logo logo logo logo logo"
            ". . . . profile-pic profile-pic . . . ."
            ". . . . aboutme aboutme . . . ."
            ". . . . tooltip1 tooltip2 . . . ."
            ". . . . tooltip4 tooltip5 . . . ."
            ". . . . tooltip3 tooltip6 . . . ."
            ". . save-btn save-btn save-btn save-btn save-btn save-btn . .";

    }

    .profile {
        height: 100x;
        margin-top: -40px;
    }

    .logo {
        height: 180px;
    }

    .custom-button {
        width: 108px;
        height: 55px;
        font-size: 10px;
        padding: 0px;
    }

    #about-me h1 {
        color: white;
        font-size: 30px;
        letter-spacing: 10px;
        line-height: 0;
    }

    #about-me h4 {
        color: white;
        padding: 0;
        font-size: 15px;
    }

    .custom-button i {
        padding-left: 5px;
        font-size: 10px;
    }

    .button {
        font-size: 20px;
    }

    .aboutus-img {
        height: 250px;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 20%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 1);
        margin-left: 5%;

    }

}

@media (max-width:769px) {
    .aboutus-img {
        height: 280px;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 20%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 1);
        margin-left: 5%;

    }

    .aboutus-text p {
        width: 70%;
        text-align: center;
        margin: auto;
        font-size: 13px;
    }

    .aboutus-text h1 {
        font-size: 22px;
        letter-spacing: 4px;
    }

    .outer-headings {
        font-size: 25px;
    }

    .inner-headings span {
        position: relative;
        color: rgb(193, 163, 98);
        animation: ani 10s ease infinite;
        text-align: right;
        font-size: 30px;
        letter-spacing: 3px;
    }

}